Repository sonofagl1tch/AWSDetonationLab, pull requests merged in 2018-11, with the labels that each got.

#42 changed instance naming format to have stackname in it for uniqueness
  awsDetonationLab.template
Labels: aws, enhancement

#52 Dev update amis template
  additionalInstallationScripts/bastion_bootstrap.sh
  awsDetonationLab.template
Labels: aws, bug

#43 updated java download script to work with the new oracle download requirements
  additionalInstallationScripts/installWazuh.sh
Labels: bug, wazuh

#53 Update Wazuh and Elastic Stack versions and fix multiple bugs when installing Wazuh
  additionalInstallationScripts/installWazuh.sh
  additionalInstallationScripts/installWazuhAgent.sh
Labels: bug, wazuh
