Repository sonofagl1tch/AWSDetonationLab, pull requests merged in 2018-10, with the labels that each got.

#19 Dev register agents authd
  additionalInstallationScripts/installWazuh.sh
  additionalInstallationScripts/installWazuhAgent.ps1
  additionalInstallationScripts/installWazuhAgent.sh
  awsDetonationLab.template
Labels: enhancement, wazuh

#20 added apache user to wheel group so bad things can happen
  additionalInstallationScripts/setupVunlerableWebServer.sh
Labels: enhancement

#27 Add parameters to select instance type in template
  awsDetonationLab.template
Labels: aws, enhancement

#31 increased default wazuh instance size due to performance issues
  awsDetonationLab.template
Labels: performance, wazuh

#33 modified cf template so username is now randomly generated and all functions support it
  awsDetonationLab.template
Labels: aws, enhancement

#35 Append wodle config
  additionalInstallationScripts/installWazuh.sh
Labels: aws, bug

#39 Fix windows agent registration using authd
  additionalInstallationScripts/installWazuhAgent.ps1
  awsDetonationLab.template
Labels: bug, wazuh

#34 Fix low cost template
  awsDetonationLab.template
Labels: aws, bug
