Repository sonofagl1tch/AWSDetonationLab, pull requests merged in 2018-12, with the labels that each got.

#54 added thank yous
  README.md
Labels: documentation

#47 Add wazuh agent to red team and bastion
  additionalInstallationScripts/installWazuhAgent.sh
  awsDetonationLab.template
Labels: aws, enhancement, wazuh

#38 removed egress settings so all traffic can come from wazuh server
  awsDetonationLab.template
Labels: aws, performance

#57 Remove installation of python pip in the wazuh server
  awsDetonationLab.template
Labels: bug, enhancement, wazuh
