Repository sonofagl1tch/AWSDetonationLab, pull requests merged in 2019-03, with the labels that each got.

#64 Set kibana default index
  CHANGELOG.md
  additionalInstallationScripts/installWazuh.sh
Labels: enhancement, wazuh

#68 Fix and import custom dashboards into Kibana
  KibanaAdditionalConfigs/Kibana-Dashboard.json
  KibanaAdditionalConfigs/Kibana-Visualizations.json
  additionalInstallationScripts/installWazuh.sh
  awsDetonationLab.template
Labels: enhancement, wazuh

#69 fixed branch issue
  CHANGELOG.md
  additionalInstallationScripts/installWazuh.sh
  awsDetonationLab.template
Labels: bug

#70 updated readme
  README.md
Labels: aws, documentation

#67 Unify installation scripts.
  additionalInstallationScripts/installWazuh-Ubuntu.sh
  additionalInstallationScripts/installWazuh.sh
Labels: documentation, enhancement, wazuh

#72 Install pip and python dependencies on installWazuh script
  additionalInstallationScripts/installWazuh.sh
  awsDetonationLab.template
Labels: bug

#76 Fix viz
  KibanaAdditionalConfigs/Kibana-Visualizations.json
Labels: bug, wazuh

#77 Fix vpc flow config
  additionalInstallationScripts/installWazuh.sh
Labels: bug, wazuh
